<div class="login">
  <form class="login__form" [formGroup]="form">
    <p>Email</p>
    <input formControlName="email" type="email" name="Email" id="email" />
    <p>Password</p>
    <input
      formControlName="password"
      type="password"
      name="Password"
      id="password"
    />
  </form>
  
  <div class="login__actions flex-column">
    @if(!loading()) {
      <button type="button" [disabled]="!form.valid" (click)="login()">
        Log In
      </button>
      <button type="button" (click)="register()">
        Register
      </button>
    } @else {
      Loading...
    }
  </div>
</div>
